<div class="footer-page">
   <div class="row m-0 footer-top">
      <div class="col-md-12">
         <img id="devotedTransparentImage" src="../../assets/images/Devoted Logo White.svg">
         <p class="footer-logo-text">{{'footerPage.companyName' | translate}}</p>
      </div>
   </div>
   <div class="row m-0 footer-content-container">
      <div class="col-md-6">
         <div class="footer-content">
            <table>
               <tr>
                  <td><strong>{{'footerPage.mbs' | translate}}</strong></td>
                  <td class="company-information">65-01-0535-19</td>
               </tr>
               <tr>
                  <td><strong>{{'footerPage.jib' | translate}}</strong></td>
                  <td class="company-information">4202674020003</td>
               </tr>
               <tr>
                  <td><strong>{{'footerPage.adress' | translate}}</strong></td>
                  <td class="company-information">Branilaca Sarajeva 51, 71000 Sarajevo</td>
               </tr>
               <br>
               <tr>
                  <td><strong>{{'footerPage.email' | translate}}</strong></td>
                  <td class="company-information">info@devoted.ba</td>
               </tr>
               <tr>
                  <td><strong>{{'footerPage.phone' | translate}}</strong></td>
                  <td class="company-information">+387 61 376 853</td>
               </tr>
               <br>
               <tr>
                  <td><strong>{{'footerPage.bankName' | translate}}</strong></td>
                  <td class="company-information"> Raiffeisen Bank dd BiH</td>
               </tr>
               <tr>
                  <td><strong>{{'footerPage.bankAdress' | translate}}</strong></td>
                  <td class="company-information">Zmaja od Bosne BB Sarajevo BiH</td>
               </tr>
               <tr>
                  <td><strong>{{'footerPage.trn' | translate}}</strong></td>
                  <td class="company-information">1610000224860076</td>
               </tr>
               <tr>
                  <td><strong>{{'footerPage.iban' | translate}}</strong></td>
                  <td class="company-information">BA391610000224860076</td>
               </tr>
               <tr>
                  <td><strong>{{'footerPage.swift' | translate}}</strong></td>
                  <td class="company-information">RZBABA2S</td>
               </tr>
            </table>
         </div>
      </div>
      <div class="col-md-6 footer-right">
         <div class="footer-content">
            <div class="footer-text-container">
               <div class="footer-text">{{'footerPage.vision' | translate}}</div>
               <div>{{'footerPage.visionText' | translate}}</div>
               <br>
               <div class="footer-text">{{'footerPage.mission' | translate}}</div>
               <div>{{'footerPage.missionText' | translate}}</div>
               <br>
            </div>
            <div class="paragraph">
               <div class="footer-text">{{'footerPage.socialNetwork' | translate}}</div>
               <ul class="social-links">
                  <li>
                     <a href="https://ba.linkedin.com/company/devotedservices" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                  </li>
                  <li>
                     <a href="https://www.facebook.com/devotedservices/" target="_blank"><i class="fa fa-facebook-square"></i></a>
                  </li>
                  <li>
                     <a href="https://twitter.com/we_are_devoted" target="_blank"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                     <a href="https://www.instagram.com/we.are.devoted/" target="_blank"><i class="fa fa-instagram"></i></a>
                  </li>
                  <li>
                     <a href="https://www.youtube.com/channel/UCbyRKR7Z_beubm7LVdQ7sNA" target="_blank"><i class="fa fa-youtube-play"></i></a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>