<div class="product-page aos-init aos-animate" data-aos="fade-up">
   <div class="row m-0 top-nav-site">
      <div class="col-12 col-md-9">
         <div class="logo-containter">
            <img id="heraldPicture" src="../../assets/images/Herald Logo Color.svg">
         </div>
         <div class="wrap-herald">
            <h2 id="heraldText">Herald</h2>
            <h5 id="heraldTextSubtitle">{{'productPage.subtitle' | translate}}</h5>
         </div>
      </div>
      <div class="col-12 col-md-3 trial-cover">
         <button (click)="heraldServices()" id="trialButton">{{'productPage.heraldButton' |
            translate}}</button>
      </div>
   </div>
   <!-- center -->
   <div class="row m-0">
      <div id="heraldCentralBanner" class="col-12 col-md-12">
         <div>
            <img id="heralCentralBannerComputerPic" src="../../assets/images/pc.png">
            <img id="heralCentralBannerMobilePic" src="../../assets/images/mobile.png">
            <div id="heraldCentralBannerTextContiner">
               {{'productPage.heraldQuote' | translate}}
            </div>
         </div>
      </div>
   </div>
   <!-- bottoom -->
   <div class="row m-0 bottom-site">
      <div class="col-12">
         <div id="telecomBanner">
            <div id="telecomTextConainer">
               <span>{{'productPage.telecomQuote' | translate}}<strong>{{'productPage.bhTelecom' |
                     translate}}</strong></span>
            </div>
            <img id="telecomLogo" src="../../assets/images/bhtLogo.svg">
         </div>
      </div>
   </div>
</div>
<!-- hardware material -->
<div class="aos-init aos-animate" data-aos="fade-up">

   <div class="row m-0 placeholder"></div>
   <div class="row m-0 hardware-material">
      <div class="col-12 col-md-4 hardware-container-top">
            <div class="hardware-text">{{'productPage.item1Title' | translate}}</div>
            <div class="hardware-text">{{'productPage.item1TitleExpansion' | translate}}</div>
            <div class="fs-16">{{'productPage.item1Content' | translate}}</div>
            <div class="w-100 hardware-picture-container d-block d-md-none">
               <img id="opcPicture" src="../../assets/images/siemens.PNG">
            </div>
      </div>
      <div class="col-12 col-md-4 hardware-container-top">
            <div class="hardware-text">{{'productPage.item2Title' | translate}}</div>
            <div class="hardware-text">{{'productPage.item2TitleExpansion' | translate}}</div>
            <div class="fs-16">{{'productPage.item2Content' | translate}}</div>
            <div class="w-100 hardware-picture-container d-block d-md-none">
               <img id="siemensPicture" src="../../assets/images/opc.PNG">
            </div>
      </div>
      <div class="col-12 col-md-4 hardware-container-top" style="border: none;">
            <div class="hardware-text">{{'productPage.item3Title' | translate}}</div>
            <div class="hardware-text">{{'productPage.item3TitleExpansion' | translate}}</div>
            <div class="fs-16">{{'productPage.item3Content' | translate}}</div>
            <div class="w-100 hardware-picture-container d-block d-md-none pb-5">
               <img id="apiPicture" src="../../assets/images/api.PNG">
            </div>
      </div>
   </div>

   <div class="row m-0 hardware-material">
      <div class="col-12 col-md-4 d-none d-md-block hardware-container-bot">
            <div class="w-100 hardware-picture-container">
               <img id="opcPicture" src="../../assets/images/siemens.PNG">
            </div>
      </div>
      <div class="col-12 col-md-4 d-none d-md-block hardware-container-bot">
            <div class="w-100 hardware-picture-container">
               <img id="siemensPicture" src="../../assets/images/opc.PNG">
            </div>
      </div>
      <div class="col-12 col-md-4 d-none d-md-block hardware-container-bot" style="border: none;">
            <div class="w-100 hardware-picture-container">
               <img id="apiPicture" src="../../assets/images/api.PNG">
            </div>
      </div>
   </div>
   <div class="row m-0 placeholder"></div>

   <!-- azure row -->
   <div class="row m-0 microsoft-azure">
      <div class="col-12 col-md-12">
         <img id="transparentHeraldPicture" src="../../assets/images/Herald Logo White.svg">
         <div class="azure-content">
            <span>{{'productPage.azureQuote' | translate}}</span>
         </div>
         <img id="transparentAzurePicture" src="../../assets/images/Azure Icon.svg">
      </div>
   </div>

   <!-- herald dashboard -->
   <div class="row m-0 herald-dashboard">
      <div class="col-12">
         <div class="herald-box-text">
            <div>{{'productPage.heraldSubtitle1' | translate}}</div>
            <div id="dashboardSubtitle">{{'productPage.heraldSubtitle2' | translate}}</div>
         </div>
      </div>
      <div class="col-12 col-md-4">
         <div class="herald-box-buttons">
            <button (click)="openConfiguration()" class="btn" class="herald-button">{{'productPage.heraldButton1' |
               translate}}</button>
         </div>
      </div>
      <div class="col-12 col-md-4">
         <div class="herald-box-buttons">
            <button (click)="appManual()" class="btn" class="herald-button">{{'productPage.heraldButton2' |
               translate}}</button>
         </div>
      </div>
      <div class="col-12 col-md-4">
         <div class="herald-box-buttons">
            <button (click)="pricingFunction()" class="btn" class="herald-button">{{'productPage.heraldButton3' |
               translate}}</button>
         </div>
      </div>     
   </div>

</div>
<!-- cloud scada -->

<div class="aos-init aos-animate" data-aos="fade-up">

   <div class="row m-0 scada-top-container">
         <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 scada-left-side">
         <div id="scadaTitle">{{'productPage.scadaTitle' | translate}}</div>
         </div>

         <div class="col-8 col-md-6 col-lg-5 col-xl-5 scada-right-side d-none d-md-block">
            <div class="div-absolute"></div>
         </div>
   
         <div class="col-4 col-lg-2 scada-right-side d-none d-lg-block"></div>

   </div>
   <div class="row m-0 scada-cloud">
      <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 scada-left-side">
         <ul>
            <li class="fs-16">{{'productPage.ulItem1' | translate}}</li>
            <li class="fs-16">{{'productPage.ulItem2' | translate}}</li>
            <li class="fs-16">{{'productPage.ulItem3' | translate}}</li>
            <li class="fs-16">{{'productPage.ulItem4' | translate}}</li>
            <li class="fs-16">{{'productPage.ulItem5' | translate}}</li>
            <li class="fs-16">{{'productPage.ulItem6' | translate}}</li>
         </ul>
      </div>
      <div class="col-8 col-md-6 col-lg-5 col-xl-5 scada-right-side">
         <div class="div-absolute"></div>
         <div class="scada-photos">
            <img id="frontalPC" src="../../assets/images/pcFrontal.png">
         </div>
      </div>
      <div class="col-4 col-lg-2 scada-right-side d-md-none d-lg-block">
         <div class="scada-photos">
            <img id="frontalMobile" src="../../assets/images/mobileFrontal.svg">
         </div>
      </div>
   </div>
   <div class="scada-bottom">
      <div class="row m-0 scada-text-container">
         <div class="col-12 col-sm-6 col-lg-3 cloud-items">
            <span>{{'productPage.quote1Part1' | translate}} </span>
            <strong><span style="color: white;">{{'productPage.quote1Part2' | translate}}</span></strong>
            <span>{{'productPage.quote1Part3' | translate}}</span>
            <strong><span style="color: white;">{{'productPage.quote1Part4' | translate}}</span></strong>
            <span>{{'productPage.quote1Part5' | translate}}</span>
         </div>
         <div class="col-12 col-sm-6 col-md-6 col-lg-2 cloud-items">
            <strong><span style="color: white;">{{'productPage.quote2Part1' | translate}}</span></strong>
               <span>{{'productPage.quote2Part2' | translate}}</span>
         </div>
         <div class="col-12 col-sm-6 col-md-4 col-lg-2 cloud-items">
            <span>{{'productPage.quote3Part1'| translate}}</span>
               <strong><span style="color: white;">{{'productPage.quote3Part2'| translate}}</span></strong>
         </div>
         <div class="col-12 col-sm-6 col-md-4 col-lg-2 cloud-items">
            <span>{{'productPage.quote4Part1' | translate}}</span>
               <strong><span style="color: white;">{{'productPage.quote4Part2' | translate}}</span></strong>
               <span>{{'productPage.quote4Part3' | translate}}</span>
               <strong><span style="color: white;">{{'productPage.quote4Part4' | translate}}</span></strong>
               <span>{{'productPage.quote4Part5' | translate}}</span>
         </div>
         <div class="col-12 col-sm-6 col-md-4 col-lg-3 cloud-items" style="border: none;">
            <strong><span style="color: white;">{{'productPage.quote5Part1' | translate}}</span></strong>
               <span>{{'productPage.quote5Part2' | translate}}</span>
         </div>
      </div>
      <div class="row m-0 trial-herald-container">
         <button (click)="heraldServices()" id="trialHeraldButton" class="btn btn">{{'productPage.freeTrialButton' |
            translate}}</button>
      </div>
   </div>
</div>