<div class="row m-0 location-page aos-init aos-animate" data-aos="fade-up">
   <div class="col-12 maps">
      <div class="visit-info">
         <div class="location-title">{{'locationPage.visitPlace'|translate}}</div>
         <div id="visitContainer">
               <div class="location-subtitle">{{'locationPage.adress'|translate}}</div>
               <div class="fs-16">{{'locationPage.streetName' | translate}}</div>
               <div class="fs-16">{{'locationPage.city' | translate}}</div>
               <hr>
               <div class="location-subtitle">{{'locationPage.workTime'|translate}}</div>
               <div class="fs-16">{{'locationPage.days'| translate}}</div>
         </div>
      </div>
      <div class="google-maps">
         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11507.608031658983!2d18.4233239!3d43.8578597!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x249e7132d7e4c0a4!2sDEVOTED%20%7C%20Software%20solutions%20for%20your%20enterprise!5e0!3m2!1sen!2sba!4v1608133041466!5m2!1sen!2sba" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
   </div>
</div>