.contact-page{
    min-height:100vh;
}

/* contact form - left side */
.contact-form{
    background-color: rgb(195, 198, 200);
}
#sendMessage{
    margin-top: 40px;
    background: rgb(19,61,69);
    background: linear-gradient(90deg, rgba(19,61,69,1) 0%, rgba(29,89,101,1) 50%, rgba(32,99,113,1) 100%);

    color: white;
}
.contact-form p{
    color: black;
    padding-bottom: 15%;
}
textarea{
    min-height: 135px;
    max-height: 260px;
}

/* contact details - right side*/

#contactTitle{
    padding-top: 5%;
    padding-left: 10%;
    font-weight: 700;
    font-size: calc(20px + 0.4vw);
}

.contact-details{
    color: white;
    background-color:rgba(32,99,113);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#contactContainerText hr{ 
    width: 50%;
    background-color: white;
}

#contactContainerText{
    color: white;
    padding-top: 25%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
}

.upload-file-container {
    background-image: url("../../assets/images/uploadimage.png");
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
    height: 45px;
    width: 100%;
    margin: 20px auto;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.upload-file-container:hover {
    cursor: pointer;
    background-color: white;
    opacity: 0.8;
}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 5px;
    padding: 5px;
    color:#a0a0a0;
    height: 40px;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 18px;
    margin: 5px;
}

.contact-subtitle{
    font-size: calc(15px + 0.4vw);
    font-weight: 500;
}

@media only screen and (max-width: 767px)
{
    #contactContainerText{
        padding-top: 5%;       
    }

    #contactTitle{
        padding-top: 10%;
    }
}